<section id="blog" class="section blog">
  <div class="container blog-container">
    <h2>Blog Highlights</h2>

    <div class="swiper swiper-blog">
      <div class="swiper-wrapper blog-list">
        <div class="swiper-slide blog-item">
          <a href="#" class="blog-link">
            <figure>
              <img
                src="/img/blog/happy-and-sad-boys.png"
                srcset="/img/blog/happy-and-sad-boys@2x.png 2x"
                alt="Happy and sad boys"
                class="blog-img"
                width="300"
                height="200"
                loading="lazy"
              />
              <figcaption class="blog-text">
                Why Visual Logic Games Beat Worksheets
              </figcaption>
            </figure>
          </a>
        </div>

        <div class="swiper-slide blog-item">
          <img
            src="/img/blog/happy-boy.png"
            srcset="/img/blog/happy-boy@2x.png 2x"
            alt="Happy boy"
            class="blog-img"
            width="300"
            height="200"
            loading="lazy"
          />
          <a href="#" class="blog-link">
            <p class="blog-text">
              How CodeGI Helps Build Confidence in Beginners
            </p>
          </a>
        </div>

        <div class="swiper-slide blog-item">
          <img
            src="/img/blog/robot-with-magnifying-glass.png"
            srcset="/img/blog/robot-with-magnifying-glass@2x.png 2x"
            alt="Robot with magnifying glass"
            class="blog-img"
            width="300"
            height="200"
            loading="lazy"
          />
          <a href="#" class="blog-link">
            <p class="blog-text">
              Behind the Scenes: Designing a Kid-Friendly Debugger
            </p>
          </a>
        </div>

        <div class="swiper-slide blog-item">
          <img
            src="/img/blog/robot-walks-up-the-steps-to-the-star.png"
            srcset="/img/blog/robot-walks-up-the-steps-to-the-star@2x.png 2x"
            alt="Robot walks up the steps to the star"
            class="blog-img"
            width="300"
            height="200"
            loading="lazy"
          />
          <a href="#" class="blog-link">
            <p class="blog-text">
              The Psychology of Puzzle Progression: How We Motivate Players
            </p>
          </a>
        </div>
      </div>
    </div>

    <div class="swiper-button-wrapper swiper-button-blog">
      <button class="btn-prev blog-prev" aria-label="Previous slide button">
        <img
          src="/img/test/swiper-arrow-prev.png"
          alt=""
          role="presentation"
          class="swiper-img"
        />
      </button>

      <button class="btn-next blog-next" aria-label="Previous slide button">
        <img
          src="/img/test/swiper-arrow-next.png"
          alt=""
          role="presentation"
          class="swiper-img"
        />
      </button>
    </div>
  </div>
</section>
