<div class="overlay" data-cookie-overlay></div>
<div class="cookie-popup">
  <div class="cookie-content">
    <p class="cookie-title">Our Cookies policy</p>
    <p class="cookies-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-btn-wrap">
      <button class="cookie-btn decline-btn">Decline cookies</button>
      <button class="cookie-btn accept-btn">Accept cookies</button>
    </div>
  </div>
</div>
