<section id="download" class="section download">
  <div class="container download-container">
    <h2>Download Now</h2>
    <p class="download-title">Ready to play?</p>
    <p class="download-text">Start learning and solving in seconds</p>

    <div class="download-btn-wrapper">
      <a href="#" class="download-play">Play in Browser</a
      ><a href="#" class="download-apple"
        >Download on
        <img
          src="/img/download/apple.png"
          alt="Apple logo"
          class="download-img-apple"
          width="36"
          height="36"
          loading="lazy" /></a
      ><a href="#" class="download-google"
        >Get it on
        <img
          src="/img/download/google.png"
          alt="Google logo"
          class="download-img-google"
          width="27"
          height="29"
          loading="lazy"
      /></a>
    </div>
  </div>
</section>
