<footer class="footer">
  <div class="container footer-container">
    <a href="./index.html" class="footer-logo">
      <img
        src="/img/logo@2x.png"
        alt="CodeGI"
        class="logo-img"
        width="45"
        height="57"
      />
    </a>
    <div class="footer-wrapper">
      <ul class="footer-list">
        <li class="footer-item">
          <a class="footer-link" href="./terms-and-conditions.html"
            >Terms & Conditions
          </a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="./privacy-policy.html"
            ><span class="footer-span">|</span>Privacy Policy</a
          >
        </li>
        <li class="footer-item">
          <a class="footer-link" href="./cookies-policy.html"
            ><span class="footer-span">|</span>Cookies Policy</a
          >
        </li>
      </ul>

      <p class="footer-text">Limited Liability Company CodeGI</p>
    </div>
  </div>
</footer>
