<section id="gallery" class="section gallery">
  <span style="display: none">Generated: 2025-07-08, Hash: b65ur5k</span>
  <div class="container gallery-container">
    <h2>Gallery</h2>

    <div class="swiper swiper-gallery">
      <div class="swiper-wrapper gallery-list">
        <div class="swiper-slide gallery-item gallery-item-small">
          <img
            src="/img/gallery/character-stands-on-the-platform.png"
            srcset="/img/gallery/character-stands-on-the-platform@2x.png 2x"
            alt="Character stands on the platform"
            class="gallery-img"
            width="243"
            height="221"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide gallery-item gallery-item-small-2">
          <img
            src="/img/gallery/many-balls-connected-to-each-other.png"
            srcset="/img/gallery/many-balls-connected-to-each-other@2x.png 2x"
            alt="Many balls connected to each other"
            class="gallery-img"
            width="242"
            height="221"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide gallery-item gallery-item-small">
          <img
            src="/img/gallery/two-robots-one-is-happy-the-other-is-sad.png"
            srcset="
              /img/gallery/two-robots-one-is-happy-the-other-is-sad@2x.png 2x
            "
            alt="Two robots, one is happy, the other is sad"
            class="gallery-img"
            width="242"
            height="221"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide gallery-item gallery-item-large">
          <img
            src="/img/gallery/robot-runs-on-the-platform.png"
            srcset="/img/gallery/robot-runs-on-the-platform@2x.png 2x"
            alt="Robot runs on the platform"
            class="gallery-img"
            width="327"
            height="221"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide gallery-item gallery-item-large">
          <img
            src="/img/gallery/different-options.png"
            srcset="/img/gallery/different-options@2x.png 2x"
            alt="Different options"
            class="gallery-img"
            width="327"
            height="221"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
