<header class="header">
  <div class="header-container">
    <a href="./index.html" class="link-logo">
      <img
        src="/img/logo@2x.png"
        alt="CodeGI"
        class="logo-img"
        width="45"
        height="57"
      />
    </a>
    <nav class="nav">
      <ul class="nav-list-one">
        <li class="nav-item">
          <a href="./index.html#how-it-works" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#features" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#challenges" class="nav-link">Challenges</a>
        </li>
      </ul>

      <ul class="nav-list-two">
        <li class="nav-item">
          <a href="./index.html#tools" class="nav-link">Tools</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#test" class="nav-link"> Testimonials</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#faq" class="nav-link">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="menu-open" aria-label="Open mobile menu">
      <svg width="38" height="38" aria-hidden="true">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="header-dropdown">
      <button type="button" class="menu-close" aria-label="Close mobile menu">
        <svg width="32" height="32" aria-hidden="true">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html#how-it-works" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#features" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#challenges" class="nav-link">Challenges</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#tools" class="nav-link"> Tools</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#test" class="nav-link"> Testimonials</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#faq" class="nav-link">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#contact" class="nav-link">Contact</a>
        </li>
      </ul>

      <ul class="header-pages">
        <li class="header-pages-item">
          <a class="header-pages-link" href="./privacy-policy.html"
            >Privacy Policy</a
          >
        </li>
        <li class="header-pages-item">
          <a class="header-pages-link" href="./terms-and-conditions.html"
            >Terms and Conditions</a
          >
        </li>
        <li class="header-pages-item">
          <a class="header-pages-link" href="./cookies-policy.html"
            >Cookies Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
