<section id="how-it-works" class="section how-it-works">
  <div class="container how-it-works-container">
    <div class="how-it-works-wrapper">
      <h2>How It Works</h2>
      <picture>
        <source
          media="(min-width: 1442px)"
          srcset="/img/how-it-works/girl-sitting-on-puzzles-desk.png"
          type="image/png"
        />
        <img
          src="/img/how-it-works/girl-sitting-on-puzzles-mb.png"
          alt="Girl sitting on puzzles"
          width="252"
          height="195"
          class="how-it-works-img"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="how-it-works-list-wrapper">
      <ul class="how-it-works-list-count">
        <li class="how-it-works-item-count">1</li>
        <li class="how-it-works-item-count">2</li>
        <li class="how-it-works-item-count">3</li>
        <li class="how-it-works-item-count">4</li>
        <li class="how-it-works-item-count">5</li>
      </ul>

      <ul class="how-it-works-list">
        <li class="how-it-works-item">
          <p class="how-it-works-title">Start With the Basics</p>
          <p class="how-it-works-text">Learn movement and simple sequencing</p>
        </li>

        <li class="how-it-works-item">
          <p class="how-it-works-title">Use Logic Blocks</p>
          <p class="how-it-works-text">
            Introduce loops, conditions, and decision trees
          </p>
        </li>

        <li class="how-it-works-item">
          <p class="how-it-works-title">Solve Challenges</p>
          <p class="how-it-works-text">
            Complete puzzle missions in each environment
          </p>
        </li>

        <li class="how-it-works-item">
          <p class="how-it-works-title">Unlock New Worlds</p>
          <p class="how-it-works-text">Progress through themed storylines</p>
        </li>

        <li class="how-it-works-item">
          <p class="how-it-works-title">Earn Medals</p>
          <p class="how-it-works-text">
            Rewards based on efficiency, creativity, and speed
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
