<section id="levels" class="section levels">
  <div class="container levels-container">
    <h2>Skill Levels & Learning Tracks</h2>

    <ul class="levels-list">
      <li class="levels-item levels-item-one">
        <p class="levels-title">Apprentice Mode</p>
        <p class="levels-text">(10–13): Full logic flows and conditionals</p>
      </li>
      <li class="levels-item levels-item-two">
        <p class="levels-title">Explorer Mode</p>
        <p class="levels-text">(Ages 7–9): Fun, icon-only blocks</p>
      </li>
      <li class="levels-item levels-item-three">
        <p class="levels-title">Challenger Mode</p>
        <p class="levels-text">Build without limits</p>
      </li>
      <li class="levels-item levels-item-four">
        <p class="levels-title">Sandbox Mode</p>
        <p class="levels-text">(14+): Nested logic, optimization goals</p>
      </li>
    </ul>

    <img
      src="/img/levels/arrow-one.png"
      alt=""
      role="presentation"
      class="levels-arrow-one"
      width="144"
      height="79"
      loading="lazy"
    />

    <img
      src="/img/levels/arrow-two.png"
      alt=""
      role="presentation"
      class="levels-arrow-two"
      width="144"
      height="43"
      loading="lazy"
    />

    <img
      src="/img/levels/arrow-three.png"
      alt=""
      role="presentation"
      class="levels-arrow-three"
      width="190"
      height="47"
      loading="lazy"
    />

    <img
      src="/img/levels/arrow-four.png"
      alt=""
      role="presentation"
      class="levels-arrow-four"
      width="190"
      height="47"
      loading="lazy"
    />
  </div>
</section>
