<section id="test" class="section test">
  <div class="container test-container">
    <h2>Testimonials</h2>

    <div class="swiper swiper-test">
      <div class="swiper-wrapper test-list">
        <div class="swiper-slide test-item">
          <p class="test-text">
            My 9-year-old learned more about logic in a week with CodeGI than in
            months of worksheets. It’s a brilliant blend of fun and fundamentals
          </p>
          <p class="test-name">Sophia R., Parent</p>
        </div>

        <div class="swiper-slide test-item">
          <p class="test-text">
            We use CodeGI at our community center. Kids love the puzzles, and I
            love that they’re developing real computational thinking
          </p>
          <p class="test-name">Ali T., Coding Club Organizer</p>
        </div>

        <div class="swiper-slide test-item">
          <p class="test-text">
            CodeGI fits beautifully into our STEM unit. The educator tools make
            it easy to assign and monitor progress
          </p>
          <p class="test-name test-fz">Jordan L.,Middle School Teacher</p>
        </div>

        <div class="swiper-slide test-item">
          <p class="test-text">
            Before this game, I thought coding was scary. Now I’m solving
            levels, making my own logic maps, and even teaching my little
            brother
          </p>
          <p class="test-name">Mira P., Student</p>
        </div>
      </div>
    </div>
    <div class="swiper-button-wrapper">
      <button class="btn-prev test-prev" aria-label="Previous slide button">
        <img
          src="/img/test/swiper-arrow-prev.png"
          alt=""
          role="presentation"
          class="swiper-img"
        />
      </button>

      <button class="btn-next test-next" aria-label="Next slide button">
        <img
          src="/img/test/swiper-arrow-next.png"
          alt=""
          role="presentation"
          class="swiper-img"
        />
      </button>
    </div>
  </div>
</section>
